
.header {
  background-color: rgb(118, 224, 118);
  &__logo {
    height: 80px;
    width: auto;
    margin: 10px;
  }
  
  li {
  list-style-type: none;
  }

}
.banner {
  background-color: rgb(21, 65, 21);

  &__mje {
    color: white;
    font-size: 3rem;
  }
}
